*{
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#mismoFondo{
  background-image: url("../imgs/banner_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

img{
  width: 50px;
}

ul{
  list-style: none;
  display: flex;
}

li{
  padding: 10px;
}

nav a{
  font-size: 20px;
  transition: border linear 0.2s;
}

main{
  height: 90vh;
}

main > *{
  width: 50%;
  margin-top: 2%;
  margin-left: 50px;
}

h1{
  font-size: 58px;
}

main p{
  font-size: 26px;
}

#btn{
  width: 250px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  font-size: 22px;
  background-color: crimson;
  transition: ease-out 0.2s;
}

#redes, footer p{
  border-top: solid 2px grey;
  justify-content: center;
  background-color: black;
  text-align: center;
  font-weight: bold;
}

nav ul a:hover{
  border-bottom: solid aquamarine 3px;
  color:aquamarine;
}

#btn:hover{
  transition: ease-in-out 0.2s;
  background-color: tomato;
  border: dashed 1px black;
}

img:hover{
  transition: 0.2s;
  transform: scale(1.2);
}